
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="card"> 
    <div class="card-header">Chủng loại</div>
    <div class="card-body">
        @*2.1 thì sử dụng panel*@
        <a class="list-group-item">Điện thoại</a>
        <a class="list-group-item">Máy tính bảng</a>
        <a class="list-group-item">Laptop</a>
    </div>
</div>