
@{
    ViewData["Title"] = "XuLyHinhTron";
}

<h2>Xử lý hình tròn</h2>
<form>
Bán kính: <input type="number" name="banKinh" />
    <button>Tính</button>
    Chu vi: @ViewBag.ChuVi
    Diện tích: @ViewBag.DienTich
</form>

