
@{
    ViewData["Title"] = "XyLyHCN";
}

<h2>Hình chữ nhật</h2>
<form>
    Dài: <input type="number" name="dai" />
    Rộng: <input type="number" name="rong" />
    <button>Tính</button>
    Chu vi: @ViewBag.ChuVi
    Diện tích: @ViewBag.DienTich
    Diễn giai: @ViewBag.DienGiai

</form>

