
@{
    ViewData["Title"] = "Index";
}

<h1>Máy tính</h1>
<i>Gửi tới controller = "Calculator" và action = "Calculate" để xử lý </i>
<form asp-controller ="Calculator" asp-action="Calculate" method="post">
    <input name="A" placeholder="Số thứ nhất" />
    <select name="pheptoan">
        <option value="+">Cộng</option>
        <option value="-">Trừ</option>
        <option value="*">Nhân</option>
        <option value="/">Chia</option>
        <option value="^">Mũ</option>
        <option value="%">Modulo</option>
    </select>
    <input name="B" placeholder="Số thứ hai" />
    <button>Tính</button>
    <span class="text-danger">@ViewBag.KQ</span>
</form>
